# Generated images from LIME runs
py/**/imgs_lime1/
py/**/imgs_lime2/
py/**/imgs_fusion/
py/**/**/alm
# Python cache
**/__pycache__/
py/**/__pycache__/
*.py[cod]
# Sim pat
sim/pat/imgs_lime1/
sim/pat/imgs_lime2/
sim/tdenom_pat
sim/fft_pat
sim/output_patch

*.fsdb
*.ucli.key
**/simv.daidir

# fft
alib-52/
*.synopsys_dc.setup
*.log
*.svf

# delT
*.nfs
*.vcd
*simv
csrc/
sub_module/delT/syn/delT
sub_module/delT/syn/netlist
ucli.key

# Syn
syn/IEC_top
# main netlist: ignore everything except Verilog sources
syn/netlist/**
!syn/netlist/**/
!syn/netlist/**/*.v

# APR 
apr/**
!apr/**/
!apr/pre_layout/mmmc.view
!apr/pre_layout/ccopt.cmd
!apr/pre_layout/IEC_top.save.io

